@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600|Sue+Ellen+Francisco&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Monsterrat", sans-serif;
    overflow-x: hidden;
}

.scene,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header-content {
    font-size: 120px;
    text-align: center;
    color: red;
}
.hero {
    height: 100vh;
    background: black;
}
.hero h1 {
    text-align: center;
    position: absolute;
    font-family: "Sue Ellen Francisco", cursive;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #f0134d;
    font-weight: 300;
    font-size: 120px;
}
.hero h2 {
    text-align: center;
    position: absolute;
    font-family: "Dosis", sans-serif;
    color: #f0134d;
    /* background: rgba(255, 111, 94, 0.37); */
    /* background: #ffffff; */
    padding: 5px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 30px;
}
.second {
    width: 100vw;
    background-color: black;
    color: white;
}

footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    height: 100vh;
    /* background-color: #f5f0e3; */
    background-color: black;
    position: relative;
    overflow: hidden;
}
.animationObject:nth-child(1) {
    background: url("./Assets/1.png");
}
.animationObject:nth-child(2) {
    background: url("./Assets/1\(2\).png");
}
.animationObject:nth-child(n) {
    height: 250px;
    top: 50%;
    width: 442px;
    left: 0%;
    bottom: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 2;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) blur(0.5px);
    transition: filter 0.2s ease-in-out;
}
.animationObject:nth-child(n):hover {
    filter: none;
    -webkit-filter: none;
}
.animationObject:nth-child(n):hover .animationText {
    opacity: 1;
}
.animationText {
    color: white;
    opacity: 0;
    height: 100%;
    flex-direction: column;
    transition: opacity 1s ease-in-out;
    justify-content: center;
    align-items: flex-end;
    margin-left: 70%;
    margin-top: 20%;
    min-width: 250px;
    max-width: 400px;
}
.animationText h1 {
    font-weight: 300;
    font-size: 20px;
    background-color: #f0134ed5;
    padding: 15px;
}
/* .animationObject {
    height: 100px;
    top: 50%;
    width: 200px;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 5;
    overflow: hidden;
}
.animationObject2 {
    height: 100px;
    top: 50%;
    width: 200px;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 4;
    overflow: hidden;
}
.animationObject3 {
    height: 100px;
    top: 50%;
    width: 200px;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 3;
    overflow: hidden;
}
.animationObject4 {
    height: 100px;
    top: 50%;
    width: 200px;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 2;
    overflow: hidden;
}
.animationObject5 {
    height: 100px;
    top: 50%;
    width: 200px;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    overflow: hidden;
} */
